function Square.init 0
push argument 0
pop static 0
push argument 1
pop static 1
push argument 2
pop static 2
push constant 0
return
function Square.draw 0
push argument 0
call Screen.setColor 1
pop temp 0
push static 0
push static 1
push static 0
push static 2
add
push static 1
push static 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
