function Main.main 4
push constant 0
pop local 0
push constant 0
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
push constant 18
call String.new 1
call Keyboard.readInt 1
pop local 1
push local 1
call Array.new 1
pop local 0
push constant 0
pop local 2
label while1
push local 2
push local 1
lt
not
if-goto endWhile1
push local 0
push local 2
add
push constant 16
call String.new 1
call Keyboard.readInt 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 3
push local 0
push local 2
add
pop pointer 1
push that 0
add
pop local 3
push local 2
push constant 1
add
pop local 2
goto while1
label endWhile1
push constant 15
call String.new 1
call Output.printString 1
push local 3
push local 1
call Math.divide 2
call Output.printInt 1
push constant 0
return
