function Main.main 1
push constant 0
pop local 0
push constant 8001
push constant 16
push constant 1
neg
call Main.fillMemory 3
push constant 8000
call Memory.peek 1
pop local 0
push local 0
call Main.convert 1
push constant 0
return
function Main.convert 3
push constant 0
pop local 0
push constant 0
pop local 1
push constant 0
pop local 2
push constant 1
neg
pop local 2
label while1
push local 2
not
if-goto endWhile1
push local 1
push constant 1
add
pop local 1
push local 0
call Main.nextMask 1
pop local 0
push local 1
push constant 16
gt
not
not
if-goto else1
push argument 0
push local 0
and
push constant 0
eq
not
not
if-goto else2
push constant 8000
push local 1
add
push constant 1
call Memory.poke 2
goto end2
label else2
push constant 8000
push local 1
add
push constant 0
call Memory.poke 2
label end2
goto end1
label else1
push constant 0
pop local 2
label end1
goto while1
label endWhile1
push constant 0
return
function Main.nextMask 0
push argument 0
push constant 0
eq
not
if-goto else3
push constant 1
return
goto end3
label else3
push argument 0
push constant 2
call Math.multiply 2
return
label end3
function Main.fillMemory 0
label while2
push argument 1
push constant 0
gt
not
if-goto endWhile2
push argument 0
push argument 2
call Memory.poke 2
push argument 1
push constant 1
sub
pop argument 1
push argument 0
push constant 1
add
pop argument 0
goto while2
label endWhile2
push constant 0
return
